[flake8]
max-line-length = 88
extend-ignore = E501
exclude =
    alembic/versions/*,
    .git,
    __pycache__,
    .pytest_cache,
    .mypy_cache,
    .tox,
    .venv,
    venv,
    .env,
    env,
    node_modules,
    build,
    dist

